.container{
    width: 960px;
    margin: 0 auto;
    background: skyblue;
}
.header{
    overflow: hidden;
    margin: 0 auto;
    background-color: grey;
}
.footer{
    text-align: center;
    background: grey;
}